
    @define-color background #171215;

    @define-color blue #cebdff;

    @define-color blue_container #5700dc;

    @define-color blue_source #0000ff;

    @define-color blue_value #0000ff;

    @define-color error #ffb4ab;

    @define-color error_container #93000a;

    @define-color green #f0ffcc;

    @define-color green_container #b1f000;

    @define-color green_source #00ff00;

    @define-color green_value #00ff00;

    @define-color inverse_on_surface #352f32;

    @define-color inverse_primary #854a78;

    @define-color inverse_surface #ebe0e4;

    @define-color on_background #ebe0e4;

    @define-color on_blue #380094;

    @define-color on_blue_container #eee5ff;

    @define-color on_error #690005;

    @define-color on_error_container #ffdad6;

    @define-color on_green #253600;

    @define-color on_green_container #354b00;

    @define-color on_primary #501c47;

    @define-color on_primary_container #070005;

    @define-color on_primary_fixed #370431;

    @define-color on_primary_fixed_variant #6a325f;

    @define-color on_red #67001f;

    @define-color on_red_container #000000;

    @define-color on_secondary #41293b;

    @define-color on_secondary_container #ffd9f1;

    @define-color on_secondary_fixed #2a1425;

    @define-color on_secondary_fixed_variant #593f52;

    @define-color on_surface #ebe0e4;

    @define-color on_surface_variant #d3c2cb;

    @define-color on_tertiary #591b19;

    @define-color on_tertiary_container #090000;

    @define-color on_tertiary_fixed #3d0607;

    @define-color on_tertiary_fixed_variant #76312d;

    @define-color outline #9c8d95;

    @define-color outline_variant #4f434b;

    @define-color primary #f9b0e5;

    @define-color primary_container #c481b3;

    @define-color primary_fixed #ffd7f1;

    @define-color primary_fixed_dim #f9b0e5;

    @define-color red #ffb2b9;

    @define-color red_container #ff5070;

    @define-color red_source #ff0000;

    @define-color red_value #ff0000;

    @define-color scrim #000000;

    @define-color secondary #e0bcd4;

    @define-color secondary_container #5c4154;

    @define-color secondary_fixed #fed8f0;

    @define-color secondary_fixed_dim #e0bcd4;

    @define-color shadow #000000;

    @define-color source_color #c481b3;

    @define-color surface #171215;

    @define-color surface_bright #3e373b;

    @define-color surface_container #241e21;

    @define-color surface_container_high #2e282c;

    @define-color surface_container_highest #393337;

    @define-color surface_container_low #1f1a1d;

    @define-color surface_container_lowest #120d10;

    @define-color surface_dim #171215;

    @define-color surface_tint #f9b0e5;

    @define-color surface_variant #4f434b;

    @define-color tertiary #ffb3ad;

    @define-color tertiary_container #d77e77;

    @define-color tertiary_fixed #ffdad6;

    @define-color tertiary_fixed_dim #ffb3ad;


@define-color red_custom       rgba(255, 178, 185, 0.2);
@define-color green_custom     rgba(240, 255, 204, 0.1);
@define-color primary_custom   rgba(249, 176, 229, 0.1);
@define-color primary_custom_a rgba(249, 176, 229, 0.8);
