@import "../MATUOUTS/matuwaybar.css";

* {
  font-family: Rubik, JetBrainsMono Nerd Font;
  font-weight: normal;
  font-size: 15px;
  padding: 0;
}

window#waybar {
  background: @surface
}

#power-profiles-daemon,
#workspaces,
#window,
#privacy,
#pulseaudio,
#tray,
#battery,
#clock,
#custom-notification,
#custom-amixer {
  background: @surface_container;
  border-radius: 13px;
  padding: 0 10px;
  margin: 4px 2px;
  color: @primary_fixed;
}

#power-profiles-daemon {
  color: @primary
}

#power-profiles-daemon.performance {
  color: @surface;
  background: @red;
}

#power-profiles-daemon.power-saver {
  color: @surface;
  background: @green;
}

#workspaces {
  padding: 2px;
}

#workspaces button {
  color: @primary;
  background: @surface_bright;
  border-radius: 999px;
  margin: 1px 2px;
  padding: 0 5px;
}

#workspaces button.active {
  color: @primary;
  background: none;
  margin: -99px 3px -99px -5px;
}

#workspaces button.empty {
  color: @outline;
  background: none;
  padding: 0 5px
}

#workspaces button:hover {
  background: @source_color;
  color: @surface;
}

#window {
  background: none;
  margin: 0 0 0 23px;
}

#privacy {
  color: greenyellow;
  background: none
}

#tray {
  background: none;
}

#battery { background: none; }

#battery.charging, #battery.plugged {
  color: @surface;
  background: @primary;
}

#battery.warning:not(.charging) {
  background: @red;
  color: @surface;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background: @red;
    color: @surface;
  }
}

#custom-notification {
  background: none;
  margin: 0 23px 0 0;
}

/* check with main values for consistency 👇️ */
#backlight {
  border-radius: 13px 0 0 13px;
  background: @surface_container;
  color: @primary_fixed;
  margin: 4px 0 4px 2px;
  padding: 0 0 0 10px;
}

#backlight-slider {
  background: @surface_container;
  min-width: 130px;
  margin: 4px 2px 4px 0;
  border-radius: 0 13px 13px 0;
  padding: 0 10px;
}
/* check with main values for consistency 👆️ */

#backlight-slider slider {
  background: none;
  border: none;
  box-shadow:none
}

#backlight-slider trough {
  border-radius: 999px;
}

#backlight-slider highlight {
  background: @primary;
  min-height: 13px;
  border-radius: 999px;
}
