@import "../MATUGEN_OUTPUTS/matuwaybar.css";

* {
  font-family: Adwaita Sans, JetBrainsMono Nerd Font;
  font-weight: normal;
  font-size: 11pt;
}

window#waybar {
  background: @surface
}

#power-profiles-daemon,
#workspaces,
#window,
#privacy,
#backlight,
#backlight-slider,
#pulseaudio,
#network,
#bluetooth,
#tray,
#battery,
#clock,
#custom-notification {
  background: @surface_container;
  border-radius: 11pt;
  padding: 0px 10px;
  margin: 4px 0px;
  color: @tertiary_fixed;
}

#power-profiles-daemon {
  color: @primary
}

#power-profiles-daemon.performance {
  color: @surface;
  background: @red;
}

#power-profiles-daemon.power-saver {
  color: @surface;
  background: @green;
}

#workspaces {
  padding: 2px;
}

#workspaces button {
  color: @primary_fixed;
  background: @surface_bright;
  border-radius: 999pt;
  margin: 1px 2px;
  padding: 0px 5px;
}

#workspaces button.active {
  color: @surface;
  background: @primary;
  border-radius: 999pt;
}

#workspaces button.empty {
  color: @outline;
  background: none;
}

#workspaces button:hover {
  background: @source_color;
  color: @surface;
  border-radius: 10pt;
}

#window {
  background: none;
  margin: 0 0 0 13px;
}

#privacy {
  color: greenyellow;
  background: none
}

#tray {
  background: none;
}

#battery { background: none; }

#battery.charging, #battery.plugged {
  color: @surface;
  background: @primary;
}

#battery.warning:not(.charging) {
  background: @red;
  color: @surface;
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background: @red;
    color: @surface;
  }
}

#custom-notification {
  background: none;
  margin: 0 13px 0 0;
  font-size: 11pt;
}

#backlight-slider {
  min-width: 100pt;
}

#backlight-slider slider {
  background: none;
  border: none;
  box-shadow:none
}

#backlight-slider trough {
  border-radius: 999pt;
}

#backlight-slider highlight {
  background: @primary;
  min-height: 10pt;
  border-radius: 999pt;
}
