:root {
  --cc-bg: {{colors.surface.default.hex}};
  --noti-border-color: {{colors.surface_bright.default.hex}};
  --noti-bg: {{colors.surface.default.hex}};
  --text-color: {{colors.secondary.default.hex}};
}
* {
  box-shadow: none;
}
.notification {
  border: 1px solid var(--noti-border-color);
  border-radius: 30px;
  padding: 5px 5px;
  background: var(--noti-bg);
}
.notification-group {
  background: var(--noti-bg);
}
.notification-background {
  padding: 10px 10px;
}
.control-center {
  border: 1px solid var(--noti-border-color);
  border-radius: 30px;
  padding: 17px 17px;
}
.control-center-list {
  background: none;
}
.widget-title > button {
  border: 1px solid var(--noti-border-color);
}
.widget-dnd > switch {
  border: 1px solid var(--noti-border-color);
}
.image {
  margin-right: 15px;
}
.summary {
  padding: 5px 0px;
}
