@define-color cc-bg {{colors.surface.default.hex}};
@define-color noti-border-color {{colors.surface_variant.default.hex}};
@define-color noti-bg {{colors.surface.default.hex}};
@define-color text-color {{colors.secondary.default.hex}};

.notification {
  border: 1px solid @noti-border-color;
  border-radius: 20px;
  padding: 10px 10px;
}
.notification-row .notification-background {
  padding: 10px 10px;
  border-radius: 20px;
}
.control-center {
  border: 1px solid @noti-border-color;
  border-radius: 20px;
  padding: 17px 17px;
}
.widget-title > button {
  border: 1px solid @noti-border-color;
}
.widget-dnd > switch {
  border: 1px solid @noti-border-color;
}
.image {
  margin-right: 15px;
}
