<* for name, value in colors *>
    @define-color {{name}} {{value.default.hex}};
<* endfor *>

/* @define-color surface {{colors.surface.default.rgba | set_alpha: 0.8}}; */
/* @define-color surface_container {{colors.surface_container.default.rgba | set_alpha: 0.5}}; */
