<* for name, value in colors *>
    @define-color {{name}} {{value.default.rgba}};
<* endfor *>

@define-color red_custom     {{colors.red.default.rgba     | set_alpha: 0.2}};
@define-color primary_custom {{colors.primary.default.rgba | set_alpha: 0.1}};
