:root {
  --cc-bg: {{colors.surface.default.hex}};
  --noti-border-color: {{colors.surface_container_high.default.hex}};
  --noti-bg: {{colors.surface.default.hex}};
  --text-color: {{colors.secondary.default.hex}};
  --noti-bg-hover: {{colors.primary.default.rgba | set_alpha: 0.1}};
}
