:root {
  --cc-bg: {{colors.surface.default.rgba}};
  --noti-bg: var(--common-bg);
  --text-color: {{colors.secondary.default.rgba}};
  --noti-bg-hover: {{colors.surface.default.rgba | lighten: 3}};

  --border: 1px solid {{colors.surface_container_high.default.rgba}};

  --common-bg: {{colors.surface_container.default.rgba}};
  --common-color: {{colors.primary.default.rgba}};
  --common-color-a: {{colors.primary.default.rgba | set_alpha: 0.1}};
  --common-color-b: {{colors.primary.default.rgba | set_alpha: 0.3}};

  --test: {{colors.surface_bright.default.rgba | lighten: 4}};

  --shado: 1px -1px 1px var(--common-color-b), -1px 1px 1px var(--common-color-b);
  --shado-a: 0px 1px 1px var(--test), 0px -1px 1px var(--test);
  --t-shado: 0px 0px 5px var(--common-color-b);
}
