:root {
  --cc-bg: {{colors.surface.default.hex}};
  --noti-border-color: {{colors.surface_container_high.default.hex}};
  --noti-bg: {{colors.surface.default.hex}};
  --text-color: {{colors.secondary.default.hex}};
  --noti-bg-hover: {{colors.primary.default.rgba | set_alpha: 0.1}};
}

* {
  box-shadow: none;
  border-radius: 30px;
}

.close-button {
  background: transparent;
  color: transparent;
}

.close-button:hover {
  background: transparent;
}

.floating-notifications {
  margin: 2px 0px 0px 0px;
}

.notification {
  background: var(--noti-bg);
  border: 1px solid var(--noti-border-color);
}

.notification-group {
  background: transparent;
}

.notification-group-headers {
  margin: 0px 0px 20px 0px;
  padding: 8px 12px;
  background: var(--noti-bg-hover);
}

.control-center {
  border: 1px solid var(--noti-border-color);
  margin: 10px;
}
