:root {
  --cc-bg: {{colors.surface.default.hex}};
  --noti-border-color: {{colors.surface_container_high.default.hex}};
  --noti-bg: {{colors.surface.default.hex}};
  --text-color: {{colors.secondary.default.hex}};
}

* {
  box-shadow: none;
  border-radius: 30px;
}

.notification {
  border: 1px solid var(--noti-border-color);
  padding: 0px;
  background: var(--noti-bg);
  margin: 1px 0px 0px 66px;
}

.notification-group {
  background: var(--noti-bg);
}

.control-center {
  border: 1px solid var(--noti-border-color);
  padding: 17px;
  margin: 10px;
}

.image {
  margin-right: 15px;
}

.summary {
  margin-bottom: 5px;
}
