:root {
  --cc-bg: {{colors.surface.default.rgba}};
  --noti-border-color: {{colors.surface_container_high.default.rgba}};

  --border: 1px solid var(--noti-border-color);
  --border-a: 1px solid var(--common-color-a);

  --noti-bg: {{colors.surface.default.rgba}};
  --text-color: {{colors.secondary.default.rgba}};
  --noti-bg-hover: {{colors.primary.default.rgba | set_alpha: 0.1}};

  --common-bg: {{colors.surface_container.default.rgba}};
  --common-color: {{colors.primary.default.rgba}};
  --common-color-a: {{colors.primary.default.rgba | set_alpha: 0.1}};
  --common-color-b: {{colors.primary.default.rgba | set_alpha: 0.3}};

  --shado: 1px -1px 1px var(--common-color-b), -1px 1px 1px var(--common-color-b);
  --t-shado: 0px 0px 5px var(--common-color-b);
}
