
    @define-color background #0d1510;

    @define-color blue #afc6ff;

    @define-color blue_container #0047a3;

    @define-color blue_source #0000ff;

    @define-color blue_value #0000ff;

    @define-color error #ffb4ab;

    @define-color error_container #93000a;

    @define-color green #e8ffe7;

    @define-color green_container #00fd7d;

    @define-color green_source #00ff00;

    @define-color green_value #00ff00;

    @define-color inverse_on_surface #2a322d;

    @define-color inverse_primary #006c46;

    @define-color inverse_surface #dce5dc;

    @define-color on_background #dce5dc;

    @define-color on_blue #002d6d;

    @define-color on_blue_container #e1e8ff;

    @define-color on_error #690005;

    @define-color on_error_container #ffdad6;

    @define-color on_green #003917;

    @define-color on_green_container #005023;

    @define-color on_primary #003822;

    @define-color on_primary_container #003722;

    @define-color on_primary_fixed #002112;

    @define-color on_primary_fixed_variant #005234;

    @define-color on_red #571e00;

    @define-color on_red_container #000000;

    @define-color on_secondary #003822;

    @define-color on_secondary_container #b5f1cd;

    @define-color on_secondary_fixed #002112;

    @define-color on_secondary_fixed_variant #155036;

    @define-color on_surface #dce5dc;

    @define-color on_surface_variant #bacbbe;

    @define-color on_tertiary #003064;

    @define-color on_tertiary_container #002f62;

    @define-color on_tertiary_fixed #001b3e;

    @define-color on_tertiary_fixed_variant #1d4680;

    @define-color outline #859589;

    @define-color outline_variant #3c4a41;

    @define-color primary #47f4aa;

    @define-color primary_container #0bd790;

    @define-color primary_fixed #55feb3;

    @define-color primary_fixed_dim #29e199;

    @define-color red #ffb595;

    @define-color red_container #ef6719;

    @define-color red_source #ff0000;

    @define-color red_value #ff0000;

    @define-color scrim #000000;

    @define-color secondary #98d3b1;

    @define-color secondary_container #185338;

    @define-color secondary_fixed #b4f0cc;

    @define-color secondary_fixed_dim #98d3b1;

    @define-color shadow #000000;

    @define-color source_color #0bd790;

    @define-color surface #0d1510;

    @define-color surface_bright #333b35;

    @define-color surface_container #19211c;

    @define-color surface_container_high #242c26;

    @define-color surface_container_highest #2e3731;

    @define-color surface_container_low #151d18;

    @define-color surface_container_lowest #08100b;

    @define-color surface_dim #0d1510;

    @define-color surface_tint #29e199;

    @define-color surface_variant #3c4a41;

    @define-color tertiary #c7d9ff;

    @define-color tertiary_container #9abeff;

    @define-color tertiary_fixed #d6e3ff;

    @define-color tertiary_fixed_dim #aac7ff;


@define-color red_custom       rgba(255, 181, 149, 0.2);
@define-color green_custom     rgba(232, 255, 231, 0.1);
@define-color primary_custom   rgba(71, 244, 170, 0.1);
@define-color primary_custom_a rgba(71, 244, 170, 0.8);
