* {
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    font-size: 17px;
}
window#osd {
  padding: 0px 0px;
  border-radius: 20px;
  border: 2px solid #BB9AF7;
  background: @theme_bg_color;
}
window#osd label {
  color: #BB9AF7;
}
window#osd image {
  color: #BB9AF7;
}
window#osd progress {
  background: linear-gradient(to right, #C451FA, #6F44DF);
}
window#osd trough {
  background: black;
}
window#osd progressbar {
  min-height: 10px;
  min-width: 172px;
}
