configuration {
  font: "JetBrainsMono Nerd Font 12";
  display-drun: "";
  drun-display-format: "{icon}{name}";
  show-icons: true;
  run-command: "uwsm app -- {cmd}";
}

@theme "../MATUGEN_OUTPUTS/maturofimain.rasi"
