[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m fill -i "/home/archy/4arch/walls/Anime-City-Night.png"
Restart=on-failure
